.side {
    height: 100%;
    width: max-content;
}

.wrapper_face {
    display: flex;
    border: 1px solid black;
    background-color: #fff;
    width: 12%;
}

.face {
    padding: 4px;
    width: 100%;
}