.header {
    grid-area: h;
    background-color: green;
    border: 1px solid green;
    margin-top: 10px;
}

.header img {
    width: 6%;
    background-color: green;
    transition: all ease 0.5s;
}

.header img:hover{
    width: 6.4%;
}