.nav {
    padding: 15px;
    grid-area: n;
    background: #b4ffb4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #4fff45;
    box-shadow: inset 0 0 20px white;
    font-size: 22px;
}

.nav a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.nav a.active {
    color: #191ebc;
}

