.App-wrapper {
    display: grid;

    width: 80%;
    margin: 0 auto;

    grid-template-areas: "h h" "n c";

    grid-template-rows: 1fr;
    grid-auto-columns: 4fr 8fr;
    grid-gap: 10px;
}

* {
    border-radius: 5px;
}

.App-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;

    border: 1px solid cornflowerblue;
    box-shadow: inset 0 0 20px white;

}

